 .container{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
}
.table{
    width: 50%;
    display: block;
margin: 0 auto;
text-align: center;
} 
/* .table td:nth-child(1) {
    width: 40px;

  } */
  /* .google-visualization-table-table tbody tr td:nth-child(1) {
    width: 40px;
  }

  .tableCell{
      width: 50px;
      text-align: center;

  }
  .tableRow{
      text-align: center;
  } */
  /* :root,*{
    text-align: "center"
  } */